*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}#logo{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}#logotext{
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
    font-size: 20px;
}header{
    background-color: rgb(12, 12, 185);
    height: 80px;
    padding: 1rem;
    
}#textlogo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
}.icon{
 
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: white;
}.container{
    width: 100%;
     max-width: 1227px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;

}header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.searchbox{

    flex-direction: row;
    align-items: center;
    background-color: aliceblue;
    padding: .2rem;
    border-radius: 10px;
    display: none;
}.searchclass{
    border: none;
    padding: 6px;
    width: 100%;
    outline: none;
}#searchicon{
    font-size: 23px;
}.searchholder{
    width: 100%;
    max-width: 540px;
}
.container #div1{
    display:grid ;
    grid-template-columns: 1fr  ;
    padding: 1rem;
}h1{
    color: brown;
    font-size: 39px;
    padding-bottom: 1rem;

}
#div1 p{
    font-size: 20px;
}
#h1img{
    padding-top: 40px;
}
.product img{
    width: 100%;
}.container h2{
    padding-left: 1rem;
}
 .h3{
    padding: 1rem;
    text-decoration:underline;
    color: coral;
}
.product{
    padding: 1rem;
    border: 1px solid red;
    margin: .8rem;
    
}
.product h3{
    font-size: 20px;
}
.product .stars{
    color: rgb(10, 228, 36);
    font-size: 20px;
    margin-top: 1rem;
}.price{
    font-size: 1.7rem;
}
.addprice{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.product button{
    background-color: rgb(28, 243, 28);
    border: none;
    padding-left: 1rem;
    padding-right: .8rem;
    color: white;
}
.wrap{
    display: grid;
    grid-template-columns: 1fr 1fr ;

} @media only screen and (min-width: 760px){
    .wrap{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .container #div1{
        grid-template-columns: 1fr 1fr;
    }
         }
    @media only screen and (min-width: 960px) {
        #menuicon{
            display: none;
        }
        .searchbox{
            display: flex;
        
            
        }
        .wrap{
            grid-template-columns: 1fr 1fr 1fr 1fr  ;
        }
      }
       
       
       

      
      
